/* body {
  margin: 0;
  padding: 0;
  
  
} */

html, body{
  display:block;
  width: 100%;
  height: 100%;
  position:relative;
 }
 
 body{
  margin: 0 auto; /* Center the content horizontally */
  max-width: 1544px;
  
  
 }